@media (min-width: 700px) {

  body{
    padding-top: 7%;
  }

  h1{
    font-size: 36px;

  }

  h2{
    font-size: 22px;

    margin-bottom: $spacing-unit * 2;
    margin-top: $spacing-unit * 5;
  }

  h3{
    font-size: 20px;

  }

  .box{
    padding: $spacing-unit * 2 $spacing-unit * 2 0;
    margin-bottom: $spacing-unit * 4;

    h2{
      margin-bottom: $spacing-unit;
    }
  }

  .box-footer{
    margin-left: -$spacing-unit * 2;
    margin-right: -$spacing-unit * 2;
    padding: $spacing-unit $spacing-unit * 1.5;

    .col-2{
      color: $brand-color-2;
      text-align: left;
      display: flex;

      h3{
        margin-bottom: 0;

        &:nth-child(2){
          color: white;
        }
      }

      :nth-child(1){
        text-align: left;
      }

      :nth-child(2){
        text-align: right;
        flex-grow: 1;
      }
    }

  }

  .col-3{
    display: flex;

    :nth-child(1){
      padding: 4px;
    }

    :nth-child(2){
      align-self: center;
    }

  }

  .clockdiv{

      display: flex;
      font-weight: 100;
      text-align: center;
      font-size: 30px;
      margin-bottom: $spacing-unit;

  }

  .clockdiv > div{
      color: white;

      font-size: 18px;
  }

  .clockdiv div > span{
      color: $brand-color-2;
      font-size: 64px;
      line-height: 64px;
      padding: $spacing-unit $spacing-unit 0;
      width: 25%;

  }

  .box-dimmed{
    display: flex;
    padding: $spacing-unit $spacing-unit * 1.5;

    h4, h5{
      font-size: 18px;
    }
  }

}
