@font-face {
    font-family: 'Mohave';
    src: url('fonts/mohave_italics-webfont.woff2') format('woff2'),
         url('fonts/mohave_italics-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Mohave';
    src: url('fonts/mohave-bold_italics-webfont.woff2') format('woff2'),
         url('fonts/mohave-bold_italics-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'Mohave';
    src: url('fonts/mohave-bold-webfont.woff2') format('woff2'),
         url('fonts/mohave-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Mohave';
    src: url('fonts/mohave-semibold_italics-webfont.woff2') format('woff2'),
         url('fonts/mohave-semibold_italics-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'Mohave';
    src: url('fonts/mohave-semibold-webfont.woff2') format('woff2'),
         url('fonts/mohave-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Mohave';
    src: url('fonts/mohave-webfont.woff2') format('woff2'),
         url('fonts/mohave-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
