body{
  text-align: center;
  font-weight: 100;
  padding: $spacing-unit;
  padding-top: 22%;
  padding-bottom: $spacing-unit * 6;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
}

.logo{
  margin-bottom: $spacing-unit;
}

h1{
    font-size: 22px;
}

h2{
  margin-top: $spacing-unit * 2;
}

h2,h3{
  font-size: 14px;
  margin-bottom: $spacing-unit;
}

h1,h2{
  font-weight: 700;
}

h3{
  font-weight: 400;
}

h4{
  font-size: 18px;
  margin-bottom: 0;
}

h5{
  font-weight: 400;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 22px;
  color: lighten($brand-color, 25%);

}

p, .viet-title{
  font-family: Helvetica, Arial, sans-serif;
}

a.panel{
  text-decoration: none;
  color: white;
}

.box.inversed{
  margin-top: $spacing-unit * 2;
  background-color: $brand-color-2;
  padding-bottom: $spacing-unit * 2 !important;
  background-color: white;
  color: $brand-color;
  border: 5px solid $brand-color;
  outline: 1px solid white;

  h3{
    font-weight: 700;
  }
}

.dim{
  color: #A675FF;
}

.box{
  width: 100%;
  border: 1px solid white;
  padding: $spacing-unit $spacing-unit 0;
  background-color: $brand-color;
  box-shadow: 2px 2px 8px rgba(0,0,0, 0.25);
  transition: all 0.25s ease-in;

}

.ourevent:hover{
  .box{
    background-color: darken($brand-color, 10%);
    box-shadow: 2px 2px 18px rgba(0,0,0, 0.25);
    transition: all 0.25s ease-in;
  }
}

.tonightevent:hover{
  .box-dimmed{
    border-color: $brand-color-2;

    h4,h5{
      color: $brand-color-2;
    }
  }
}

.pastevent:hover{
  .box-dim{
    border-color: white;

    .col-3{
      h2{color: white;}
      div{border-right: 1px white solid;}
    }
  }
}

.box-footer{
  border-top: 1px solid white;
  border-bottom: 4px solid white;
  padding: $spacing-unit / 2 $spacing-unit / 2 $spacing-unit $spacing-unit / 2 ;
  margin-left: -$spacing-unit;
  margin-right: -$spacing-unit;

  h1{
    text-align: left;
    display: block;
  }

  .col-2{
    color: $brand-color-2;
    text-align: left;

    h3{
      margin-bottom: 0;

      &:nth-child(2){
        color: white;
      }
    }
  }
}

.box-dimmed{
  border: 1px #A675FF solid;
  background-color: $brand-color;
  border-bottom: none;
  text-align: left;
  padding: $spacing-unit $spacing-unit / 2;

  &:last-of-type{
    border-bottom: 1px #A675FF solid;
  }
}

.box-dim{
  border: 1px #8D4CFF solid;
  background-color: $brand-color;

  h2{
    color: #8D4CFF;
    margin: $spacing-unit / 2;
  }
}

.col-3{
  display: flex;

  div{
    border-right: 1px #8D4CFF solid;
    min-width: 55px;
  }

  :nth-child(1){
    text-align: center;
    height: 100%;
  }

  :nth-child(2){
    text-align: left;
  }

}

.clockdiv{

    display: inline-block;
    font-weight: 100;
    text-align: center;
    display: flex;
    justify-content: center;

}

.clockdiv > div{
    color: white;
    margin-left: $spacing-unit / 2;
    margin-right: $spacing-unit / 2;
    margin-bottom: $spacing-unit;
}

.clockdiv > div div{
  font-size: 12px;
  font-weight: 400;
}

.clockdiv div > span{
    color: $brand-color-2;
    font-size: 42px;
    line-height: 42px;
    font-weight: 600;
    // padding: $spacing-unit $spacing-unit 0;
    width: 25%;
}

.hide, .hidetonight{
  display: none;
}

footer{
  margin-top: $spacing-unit * 3;
  border-top: 1px #A675FF solid;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit * 2;

  a{
    color: white;
    text-decoration: none;

    &:hover{
      color: $brand-color-2;
    }
  }
}
