---
title: Whats Up Hanoi !?
layout: amp
sitemap:
  priority: 1.0
  changefreq: daily
exclude: true
---

{% include amp-modules/amp-featured-top.html%}

<div class="event-list">
  {% include tonight.html %}
</div>

{% include amp-modules/amp-featured-bottom.html%}

{% include amp-modules/amp-upcoming.html %}

{% if site.mailchimp == true %}
  <div class="mailchimp">
    <h2>Subscribe to our mailing list</h2>
    <br />
    <a class="button" href="/amp/amp-mailinglist">SUBSCRIBE</a>
  </div>
{% endif %}

{% if site.followus == true %}
  {% include amp-modules/amp-followus.html %}
{% endif %}

{% include wuh-past.html %}
