
<a class="panel panel-inversed" href="{{ event['Event URL'] }}">
      <div class="box inversed featured">
          <h4>{{ event.title }}</h4>
          <div class="col-2">
             <h5>@ {{ event['Venue'] }}</h5>
             <h5>
               {{ event['Event date'] | date: "%A " }}
               {% assign day = event['Event date'] | date: "%-d"  %}
               {% case day %}
                  {% when '1' or '21' or '31' %}{{ day }}st
                  {% when '2' or '22' %}{{ day }}nd
                  {% when '3' or '23' %}{{ day }}rd
                  {% else %}{{ day }}th
               {% endcase %}
               {{ event['Event date'] | date: "of %B, %Y" }}
             </h5>

          </div>
      </div>
</a>
