{% if promotion['Link'] %}
  <a class="panel" href="{{ promotion['Link'] }}">
  {% endif %}
        <div class="promo" id="image-promotion-{{ forloop.index }}" style="background-image: url('{{ promotion['Image'] }}');
                                      background-color: {{promotion['Color']}};
                                      outline-color: {{promotion['Color']}};" >
            <h5>{{promotion['Heading']}}</h5>
            <div class="col-2">
               <h1>{{ promotion.title }}</h1>
               <p>{{ promotion.content }}</p>
            </div>
        </div>
  {% if promotion['Link'] %}
  </a>
{% endif %}
