{% for promo in site.promos %}
  {% if promo['Link'] %}
  <a class="panel" href="{{ promo['Link'] }}">
  {% endif %}
        <div class="box promo" style="background-image: url('{{ promo['Image'] }}');
                                      
                                      background-color: {{promo['Color']}};
                                      outline-color: {{promo['Color']}};" )>
            <h5>{{promo['Heading']}}</h5>
            <div class="col-2">
               <h1>{{ promo.title }}</h1>
               <h5>{{ promo['Subtitle'] }}</h5>
            </div>
        </div>
  {% if promo['Link'] %}
  </a>
  {% endif %}
{% endfor %}
