{% if promotion['Link'] %}
<a class="panel" href="{{ promotion['Event URL'] }}">
{% endif %}
  <div class="upcoming">
  <div class="clockdiv" id="promoclockdiv-{{ forloop.index }}">
    <div>
      <span class="days"></span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>
  <div class="box-footer" >
    <h1>{{ event.title }}</h1>
    <div class="col-2">
       <h3>
         {{ promotion['Event date'] | date: "%A " }}
         {% assign day = promotion['Event date'] | date: "%-d"  %}
         {% case day %}
            {% when '1' or '21' or '31' %}{{ day }}st
            {% when '2' or '22' %}{{ day }}nd
            {% when '3' or '23' %}{{ day }}rd
            {% else %}{{ day }}th
         {% endcase %}
         {{ promotion['Event date'] | date: "of %B, %Y" }}
       </h3>
       <h3>{{ promotion['Venue'] }}</h3>
    </div>
  </div>
</div>
{% if promotion['Link'] %}
</a>
{% endif %}
