<!-- START PAST EVENTS -->

  <h2 class="dim">PAST EVENTS</h2>

  {% for event in site.ourevents reversed %}
    {% capture nowunix %}{{ site.time | date: '%s' }}{% endcapture %}
    {% capture eventunix %}{{ event['Event date'] | date: '%s'}}{% endcapture %}
    {% assign nowunix = nowunix | plus: 0 %}
    {% assign eventunix = eventunix | plus: 0 %}


    {% if nowunix > eventunix %}
      <a class="panel pastevent" href="{{ event['Event URL'] }}">
        <div class="box-dim">
           <div class="col-3">
             <div>
               <h2>0{{ forloop.index }}</h2>
             </div>
             <h2>{{ event.title }}</h2>
           </div>
        </div>
      </a>
    {% else %}

    {% endif %}

  {% endfor %}

<!-- END PAST EVENTS -->
