@font-face { font-family: 'Mohave'; src: url("fonts/mohave_italics-webfont.woff2") format("woff2"), url("fonts/mohave_italics-webfont.woff") format("woff"); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Mohave'; src: url("fonts/mohave-bold_italics-webfont.woff2") format("woff2"), url("fonts/mohave-bold_italics-webfont.woff") format("woff"); font-weight: 700; font-style: italic; }
@font-face { font-family: 'Mohave'; src: url("fonts/mohave-bold-webfont.woff2") format("woff2"), url("fonts/mohave-bold-webfont.woff") format("woff"); font-weight: 700; font-style: normal; }
@font-face { font-family: 'Mohave'; src: url("fonts/mohave-semibold_italics-webfont.woff2") format("woff2"), url("fonts/mohave-semibold_italics-webfont.woff") format("woff"); font-weight: 600; font-style: italic; }
@font-face { font-family: 'Mohave'; src: url("fonts/mohave-semibold-webfont.woff2") format("woff2"), url("fonts/mohave-semibold-webfont.woff") format("woff"); font-weight: 600; font-style: normal; }
@font-face { font-family: 'Mohave'; src: url("fonts/mohave-webfont.woff2") format("woff2"), url("fonts/mohave-webfont.woff") format("woff"); font-weight: 400; font-style: normal; }
/*** Reset some basic elements ***/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

html, body { height: 100%; overflow: auto; }

/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

/*** Basic styling ***/
body { font: 400 16px/1.4 "Mohave", monospace, sans-serif; color: white; background-color: #6D1DFC; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; }

/*** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure { margin-bottom: 8px; }

/*** Images ***/
img { max-width: 100%; vertical-align: middle; }

.wrapper { margin-left: auto; margin-right: auto; max-width: 600px; }

body { text-align: center; font-weight: 100; padding: 16px; padding-top: 22%; padding-bottom: 96px; background-image: url("images/background.jpg"); background-size: cover; background-position: center; }

.logo { margin-bottom: 16px; }

h1 { font-size: 22px; }

h2 { margin-top: 32px; }

h2, h3 { font-size: 14px; margin-bottom: 16px; }

h1, h2 { font-weight: 700; }

h3 { font-weight: 400; }

h4 { font-size: 18px; margin-bottom: 0; }

h5 { font-weight: 400; margin-bottom: 0; font-size: 15px; line-height: 22px; color: #be9bfe; }

p { font-family: 'Cabin Condensed', sans-serif; font-weight: 500; }

.viet-title { font-family: 'Cabin Condensed', sans-serif; text-transform: uppercase; font-weight: 500; }

a.panel { text-decoration: none; color: white; }

.dim { color: #A675FF; }

.box { width: 100%; border: 1px solid white; padding: 16px 16px 0; background-color: #6D1DFC; box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25); transition: all 0.25s ease-in; }

.box.inversed { margin-top: 32px; background-color: #1FEF86; background-color: white; color: #6D1DFC; border: 5px solid #6D1DFC; outline: 1px solid white; padding-bottom: 16px; }
.box.inversed h3 { font-weight: 700; }

.featured { text-align: left; padding: 16px 16px 0; }

.ourevent:hover .box { background-color: #5303e3; box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.25); transition: all 0.25s ease-in; }

.tonightevent:hover .box-dimmed { border-color: #1FEF86; }
.tonightevent:hover .box-dimmed h4, .tonightevent:hover .box-dimmed h5 { color: #1FEF86; }

.pastevent:hover .box-dim { border-color: white; }
.pastevent:hover .box-dim .col-3 h2 { color: white; }
.pastevent:hover .box-dim .col-3 div { border-right: 1px white solid; }

.box-footer { border-top: 1px solid white; border-bottom: 4px solid white; padding: 8px 8px 16px 8px; margin-left: -16px; margin-right: -16px; }
.box-footer h1 { text-align: left; display: block; }
.box-footer .col-2 { color: #1FEF86; text-align: left; }
.box-footer .col-2 h3 { margin-bottom: 0; }
.box-footer .col-2 h3:nth-child(2) { color: white; }

.box-dimmed { border: 1px #A675FF solid; background-color: #6D1DFC; border-bottom: none; text-align: left; padding: 16px 8px; }
.box-dimmed:last-of-type { border-bottom: 1px #A675FF solid; }

.box-dim { border: 1px #8D4CFF solid; background-color: #6D1DFC; }
.box-dim h2 { color: #8D4CFF; margin: 8px; }

.col-3 { display: flex; }
.col-3 div { border-right: 1px #8D4CFF solid; min-width: 55px; }
.col-3 :nth-child(1) { text-align: center; height: 100%; }
.col-3 :nth-child(2) { text-align: left; }

.clockdiv { display: inline-block; font-weight: 100; text-align: center; display: flex; justify-content: center; }

.clockdiv > div { color: white; margin-left: 8px; margin-right: 8px; margin-bottom: 16px; }

.clockdiv > div div { font-size: 12px; font-weight: 400; }

.clockdiv div > span { color: #1FEF86; font-size: 42px; line-height: 42px; font-weight: 600; width: 25%; }

.panel-inversed:hover .box.inversed { background-color: #1FEF86; color: White; }
.panel-inversed:hover .box.inversed h5 { color: white; }

.hide, .hidetonight { display: none; }

footer { margin-top: 48px; border-top: 1px #A675FF solid; padding-top: 16px; padding-bottom: 32px; }
footer a { color: white; text-decoration: none; }
footer a:hover { color: #1FEF86; }

@media (min-width: 700px) { body { padding-top: 7%; }
  h1 { font-size: 36px; }
  h2 { font-size: 22px; margin-bottom: 32px; margin-top: 80px; }
  h3 { font-size: 20px; }
  .box { padding: 32px 32px 0; margin-bottom: 64px; }
  .box h2 { margin-bottom: 16px; }
  .featured { text-align: left; padding: 16px 16px 0; }
  .featured .col-2 { display: flex; }
  .featured .col-2 :nth-child(2) { text-align: right; }
  .featured .col-2 h5 { width: 50%; }
  .box-footer { margin-left: -32px; margin-right: -32px; padding: 16px 24px; }
  .box-footer .col-2 { color: #1FEF86; text-align: left; display: flex; }
  .box-footer .col-2 h3 { margin-bottom: 0; }
  .box-footer .col-2 h3:nth-child(2) { color: white; }
  .box-footer .col-2 :nth-child(1) { text-align: left; }
  .box-footer .col-2 :nth-child(2) { text-align: right; flex-grow: 1; }
  .col-3 { display: flex; }
  .col-3 :nth-child(1) { padding: 4px; }
  .col-3 :nth-child(2) { align-self: center; }
  .clockdiv { display: flex; font-weight: 100; text-align: center; font-size: 30px; margin-bottom: 16px; }
  .clockdiv > div { color: white; font-size: 18px; }
  .clockdiv div > span { color: #1FEF86; font-size: 64px; line-height: 64px; padding: 16px 16px 0; width: 25%; }
  .box-dimmed { padding: 16px 24px; } }
.tonight-page .logo { width: 300px; margin: 0; }
.tonight-page h2 { margin-bottom: 16px; margin-top: 32px; font-size: 22px; font-weight: 400; }
.tonight-page h5 { font-size: 17px; }
.tonight-page .box-dimmed { padding: 8px 16px; display: flex; }
.tonight-page .box-dimmed :nth-child(1) { width: 70%; }
.tonight-page .box-dimmed :nth-child(2) { text-align: left; width: 30%; }
