---
layout: compress
---
<!doctype html>
<html amp lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include amp-modules/amp-head.html %}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <a href="/" title="Whats Up Hanoi !?" class="logo animated bounceIn">
          <amp-img alt="A beautiful sunset"
                   src="/assets/images/logo.svg"
                   width="444"
                   height="118" layout=responsive >
          </amp-img>
        </a>

        {{ content }}

        {% include footer.html %}
      </div>
    </main>


  </body>

</html>
