---
layout: default
---

<!-- Facebook scripts -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--googleoff: index-->

{% include featured-top.html%}

<div class="event-list">
{% include tonight.html %}
</div>

{% include featured-bottom.html%}

{% include wuh-upcoming.html %}

{% if site.mailchimp == true %}
<h2>Subscribe to our mailing list</h2>
  {% include mailchimp.html %}
{% endif %}

{% if site.followus == true %}
  {% include followus.html %}
{% endif %}

{% include wuh-past.html %}

<!--googleon: index-->
