---
layout: default
---

<noscript>
    <style type="text/css">
        .pagecontainer {display:none;}
    </style>
    <div class="noscriptmsg">
    You don't have javascript enabled.  Good luck with that.
    </div>
</noscript>

<!-- Facebook scri1pts -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<img class="logo animated bounceIn" src="assets/images/logo.svg" />

<!--googleoff: index-->

<!-- START TONIGHT-->
  <h2>Tonight in Hanoi</h2>

  {% for event in site.eventstonight %}
    {% capture today %}{{ site.time | date: '%F' }}{% endcapture %}
    {% capture eventdate %}{{ event['Event date'] | date: '%F'}}{% endcapture %}

    {% if today == eventdate %}
      <a class="panel tonightevent" href="{{ event['Event URL']}}">
        <div class="box-dimmed">
          <h4>
            {{ event.title }}
            {% if event['Viet title'] %}
            &ensp;/&ensp;<span class="viet-title">{{ event['Viet title']}}</span>
            {% endif %}
          </h4>
          <h5>@&ensp;{{ event['Venue'] }}</h5>
        </div>
      </a>
      {% else %}
    {% endif %}
  {% endfor %}

<!-- END TONIGHT -->

<!-- START NOTHIN IS ON-->
{% for event in site.eventstonight %}
  {% capture nowunix %}{{ site.time | date: '%s' }}{% endcapture %}
  {% capture eventunix %}{{ event['Event date'] | date: '%s'}}{% endcapture %}
  {% assign nowunix = nowunix | plus: 0 %}
  {% assign eventunix = eventunix | plus: 0 %}

  {% unless nowunix > eventunix %}
    {% assign hidetonight = "hidetonight" %}
  {% endunless%}

{% endfor%}


<div class="box inversed {{ hidetonight }}">
  <p>It seems there is nothing on tonight =(</p>
</div>
<!--END NOTHING IS ON-->

<!-- START UPCOMING EVENTS -->

  {% for event in site.ourevents %}
    {% capture nowunix %}{{ site.time | date: '%s' }}{% endcapture %}
    {% capture eventunix %}{{ event['Event date'] | date: '%s'}}{% endcapture %}
    {% assign nowunix = nowunix | plus: 0 %}
    {% assign eventunix = eventunix | plus: 0 %}


    {% if nowunix < eventunix %}

    <h2>NEXT WUH!? EVENT</h2>

      <a class="panel ourevent" href="{{ event['Event URL'] }}">
        <div class="box">
        <div class="clockdiv" id="clockdiv-{{ forloop.index }}">
          <div>
            <span class="days-{{ forloop.index }}"></span>
            <div class="smalltext">Days</div>
          </div>
          <div>
            <span class="hours-{{ forloop.index }}"></span>
            <div class="smalltext">Hours</div>
          </div>
          <div>
            <span class="minutes-{{ forloop.index }}"></span>
            <div class="smalltext">Minutes</div>
          </div>
          <div>
            <span class="seconds-{{ forloop.index }}"></span>
            <div class="smalltext">Seconds</div>
          </div>
        </div>
        <div class="box-footer" >
          <h1>{{ event.title }}</h1>
          <div class="col-2">
             <h3>
               {{ event['Event date'] | date: "%A " }}
               {% assign day = event['Event date'] | date: "%-d"  %}
               {% case day %}
                  {% when '1' or '21' or '31' %}{{ day }}st
                  {% when '2' or '22' %}{{ day }}nd
                  {% when '3' or '23' %}{{ day }}rd
                  {% else %}{{ day }}th
               {% endcase %}
               {{ event['Event date'] | date: "of %B, %Y" }}
             </h3>
             <h3>{{ event['Venue'] }}</h3>
          </div>
        </div>
      </div>
      </a>
    {% else %}

    {% endif  %}

  {% endfor %}

<!-- END UPCOMING EVENTS -->

<!--googleon: index-->

<!-- START COMING SOON -->

  {% for event in site.ourevents %}
    {% capture nowunix %}{{ site.time | date: '%s' }}{% endcapture %}
    {% capture eventunix %}{{ event['Event date'] | date: '%s'}}{% endcapture %}
    {% assign nowunix = nowunix | plus: 0 %}
    {% assign eventunix = eventunix | plus: 0 %}

    {% unless nowunix > eventunix %}
      {% assign hide = "hide" %}
    {% endunless%}

  {% endfor%}

  <!-- <a class="panel ourevent {{ hide }}" href="https://www.facebook.com/whatsuphanoievents/"> -->
    <div class="box inversed {{ hide }}">
      <h3>NEXT EVENT IS IN THE WORKS</h3>
      <p>Follow us on Facebook for updates</p>
      <div class="fb-follow" data-href="https://www.facebook.com/whatsuphanoievents" data-layout="button_count" data-size="large" data-show-faces="true"></div>
    </div>
  <!-- </a> -->

<!-- END COMING SOON -->

<!-- START PAST EVENTS -->

  <h2 class="dim">PAST EVENTS</h2>

  {% for event in site.ourevents reversed %}
    {% capture nowunix %}{{ site.time | date: '%s' }}{% endcapture %}
    {% capture eventunix %}{{ event['Event date'] | date: '%s'}}{% endcapture %}
    {% assign nowunix = nowunix | plus: 0 %}
    {% assign eventunix = eventunix | plus: 0 %}


    {% if nowunix > eventunix %}
      <a class="panel pastevent" href="{{ event['Event URL'] }}">
        <div class="box-dim">
           <div class="col-3">
             <div>
               <h2>0{{ forloop.index }}</h2>
             </div>
             <h2>{{ event.title }}</h2>
           </div>
        </div>
      </a>
    {% else %}

    {% endif %}

  {% endfor %}

<!-- END PAST EVENTS -->
