---
layout: default
---

<img class="logo" src="assets/images/logo.svg" />

<a class="panel" href="">
<div class="box">
  <h2>NEXT EVENT</h2>
  <div id="clockdiv">
    <div>
      <span class="days"></span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>
  <div class="box-footer" >
    <h1>SAUSE WITH MR DEVITT</h1>
    <div class="col-2">
       <h3>SATURDAY 5TH MAY 2017 ETC+7 0000</h3>
       <h3>The GROVE, 239 dang thai mai</h3>
    </div>
  </div>
</div>
</a>

<h2>PAST EVENTS</h2>

<a class="panel" href="">
  <div class="box">
     <div class="col-3">
       <h2>001</h2>
       <h2>ADVENTURES IN SOUND</h2>
       <h3>APRIL 20TH</h3>
     </div>
  </div>
</a>
